<h3>Nueva Usuario Registrado</h3>
<b>Nombre:</b>
<label><%= name + ' ' + lastname; %></label>
<br/><br/>
<b>Telefono:</b>
<label><%= phone; %></label>
<br/><br/>
<b>Correo:</b>
<label><%= email; %></label>